<div class="container" id="admin-panel">
   <div class="row">
      <div class="col-lg-12">
          <div class="admin-header">
            <p>Admin</p>
          </div>
      </div>
   </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="admin-menu">
            <div class="navbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/#/admin/home">Home</a></li>
                <li><a href="/#/admin/posts">Posts</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="admin-content"></div>
        </div>
    </div>

</div>